*{
    padding: 0;
    margin: 0;
}
.portfolio{
    display: flex;
    background-color: #160525;
    height: 650px;
    align-items: center;
    justify-content: space-around;
}
.info-box
{
    display: flex;
    flex-direction: column;
}
.hello-box
{
    height: 45px;
    width: 130px;
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 60px 60px 60px 0px;
    margin-bottom: 20px;
}
.My-Name
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}
.My-Experience
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 600;
}
.contact
{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-info
{
    margin-left: 10px;
    font-weight: bold;
}
.color-light
{
    color: white;
}
.img-container
{
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.img-box{
    height: 92%;
    width: 92%;
    background-color: #160525;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.img-box img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
}